<h1>Маленькая статистика Ganjawars</h1>

<div class='black 12'>
Сейчас в игре <b class='red14b'><%= now_in_game %></b> игроков<br>

За последние семь дней
заходили <b class='red14b'><%= last_7_day %></b> игроков<br>

Идет <b class='red14b'><%= active_fight %></b> боя<br>

Ожидает начала <b class='red14b'><%= wait_fight %></b><br> 
</div>