// Place all the styles related to the Gwstatus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.black12{
 font: 12px Tahoma;
 color: #000;
 text-decoration: none;
}

b.red14b {
    font: bold 14px Tahoma;
    color: #c83400;
    text-decoration: none;
}