<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Ganja Wars Data</title>
=======
  <title>YourApp</title>
>>>>>>> b4f42886112884eccadbcdead2532232d5d18b01
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
